/********************************
*  QUAD FORM - CLASSI          *
********************************/
.quad_form {
    margin-left: 5rem;
    margin-top: 5rem;

    .hex_qf_v1 {
        width: $QF-HW-V1;
        height: $QF-HH-V1;
    }

    .hex_qf_v2 {
        width: $QF-HW-V2;
        height: $QF-HH-V2;
    }

    .hex:hover {
        filter: brightness(50%) !important;
    }

    .quad_dim_v1 {
        width: $QF-QW-V1;
        height: $QF-QH-V1;
        position: relative;
    }

    .quad_dim_v2 {
        width: $QF-QW-V2;
        height: $QF-QH-V2;
        position: relative;
    }

    .label_code {
        font-size: 0.8rem;
        align-self: end;
        text-align: center;
    }
}
